.newsletter-title {
  margin-bottom: -30px !important;
}

input[type="text"],
input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

input[type="checkbox"] {
  margin-top: 16px;
}

input[type="submit"] {
  background-color: #087f5b;
  color: white;
  border: none;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

.newsletter-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
